@import 'bootstrap/dist/css/bootstrap';


.navbar-brand {
    font-size: 2.5rem;  
}
.search-area {
    padding-top: 60px;
}

.no-right-padding{
    padding-right: 0;
}
.no-left-padding{
    padding-left: 4px;
}
.result-search{
    display: inline-block;

}
.display-6{
    color: rgb(88, 88, 232);
    font-size: 18px;
}
.navbar-username{
    margin-top: 5px;
    margin-right: 20px;
    font-size: 18px;
}

